<%= form_with model: @tasks do |f| %>
<div class="card">
  <div class="card-body">
    <div class ="mb-3">
      <%= f.label :title, {class: "form-label"} %>
      <%= f.text_field :title, {class:"form-control"} %>
    </div>

    <div class ="mb-3">
      <%= f.label :details, {class: "form-label"} %>
      <%= f.text_field :details, {class: "form-control"} %>
    </div>

    <%= f.submit%>

  </div>
</div>
<% end %>
